    <h3>{{command.name}}</h3>
    <h4>{{command.description}}</h4>
    <p>&nbsp;</p>
    <h5>Parameters</h5>
    <hr/>
    <pre><code>{{result}}</code></pre>

    <script>hljs.initHighlightingOnLoad();</script>